


/* ========================================================================= */
/* LATEX */
/* ========================================================================= */
[macro="equation"][latex="block"] {
    font-size: 1.5rem;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
[macro="equation"][latex="inline"] {
    font-size: 1rem;
}

[macro="equation"] > mjx-container {
    margin: 10px 0 !important;
}


/* ========================================================================= */
/* LAYOUT */
/* ========================================================================= */
[macro="layout"] {
    margin-bottom: 10px;
}

[macro="note"] {
    display: flex;
    flex-direction: column;
    align-items: normal;
    grid-row-gap: 12px;
    padding-bottom: 12px;
    overflow: hidden;
}


[macro="note"][compact] {
    grid-row-gap: 8px;
}
[macro="note"][compact] p {
    padding-top: 0;
    padding-bottom: 0;
}
[macro="note"][compact] mjx-container.MathJax {
    margin: 0 !important;
}


[macro='layout'][compact] [macro="note"] {
    grid-row-gap: 0px;
    padding-top: 15px 10px;
}
[macro='layout'][compact] [macro="note"] p {
    padding-top: 0;
    padding-bottom: 0;
}
[macro='layout'][compact] > [macro="equation"] > mjx-container.MathJax {
    margin: 0 !important;
    padding: 10px;
}

@media (min-width: 800px) {
    [macro='layout'] {
        display: grid;
        width: 100%;
        column-gap: 8px;
        row-gap: 8px;
        padding: 0 10px;
    }
    [macro='layout'][columns='2'] {
        grid-template-columns: repeat(2, 1fr);
    }
    [macro='layout'][columns='3'] {
        grid-template-columns: repeat(3, 1fr);
    }
    [macro='layout'][columns='4'] {
        grid-template-columns: repeat(4, 1fr);
    }
    
    [macro='layout'][boxed] > [macro="note"] {
        border-radius: 3px;
        border-color: #fff;
        box-shadow: 0 0 0px 1px #eeeeee;
    }
    [macro='layout'][boxed] > [macro="equation"] {
        border-radius: 3px;
        border-color: #fff;
        box-shadow: 0 0 0px 1px #eeeeee;
    }
    [macro='layout'] > [macro="note"] img {
        min-width: unset !important;
    }
}

[macro='note'] h1,
[macro='note'] h2,
[macro='note'] h3,
[macro='note'] h4,
[macro='note'] h5,
[macro='note'] h6{
    margin: 0;
    margin-left: 12px;
}

[macro='note'] h1:first-child,
[macro='note'] h2:first-child,
[macro='note'] h3:first-child,
[macro='note'] h4:first-child,
[macro='note'] h5:first-child,
[macro='note'] h6:first-child {
    text-align: center;
    margin: 8px auto;
}
[macro='layout'] > h1,
[macro='layout'] > h2,
[macro='layout'] > h3,
[macro='layout'] > h4,
[macro='layout'] > h5,
[macro='layout'] > h6{
    text-align: center;
    margin: 8px auto;
}
[macro='note'] p {
    text-align: justify;
}
[macro="note"] ul {
    padding-left: 18px;
}
[macro="note"] ul > li {
    padding-left: 0;
}

[macro='layout'] [macro='layout'] [latex="block"] {
    font-size: 1.5rem;
}

[macro="equation"] {
    font-size: 2.5rem;
}


[macro='note'][small] p,
[macro='note'][small] h1,
[macro='note'][small] h2,
[macro='note'][small] h3,
[macro='note'][small] h4,
[macro='note'][small] h5,
[macro='note'][small] h6,
[macro='note'][small] [macro="equation"] {
    font-size: smaller;
}

[macro='note'] table {
    margin: 0 auto;
    width: fit-content;
}
[macro='note'] img {
    // margin: 0 auto;
    // display: block;
}

@media (max-width: 650px) {
    [macro='note'] > * {
        margin: 0 10px;
    }
    
    [macro='note'] > img {
        margin: 0;
    }
    
    [macro='note'] > [macro="equation"] {
        margin: 0;
    }
    [macro='note'] > [table-wrapper] {
        margin: 0;
    }
}
@media (min-width: 650px) {
    [macro='note'] {
        padding: 10px;
    }
    [macro='note'] [macro='note'] {
        padding: 5px;
    }
}


@mixin dark-mode-macros {
    [macro='layout'][boxed] > [macro="note"] {
        box-shadow: 0px 0px 1px 1px #655f65;
    }
    [macro='layout'][boxed] > [macro="equation"] {
        box-shadow: 0px 0px 1px 1px #655f65;
    }
    [macro="equation"] {
        // color: #fff;
        color: #ffb7e4;
    }
    [macro="tex"] {
        color: #ffb7e4;
    }
}

@if settings.$dark-theme {
    @include dark-mode-macros;
}

@if settings.$auto-theme {
    @media (prefers-color-scheme: dark) {
        @include dark-mode-macros;
    }
}

@media (max-width: 650px) {
    [macro='layout'][boxed] > [macro="note"] {
        box-shadow: unset;
    }
}