/* ========================================================================= */
/* TOC */
/* ========================================================================= */
[toc] {
    padding: 12px;
    border-radius: 3px;
    overflow: hidden;
}
[toc] > h1 {
    font-size: 2em;
    padding: 20px 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 20px;
}
[macro='toc'] {
    list-style: none;
    margin-bottom: 0;
}

[macro='toc'] {
    max-width: 90%;
    margin: 0 auto;
}
[macro='toc'] > li, [macro='toc'] > li a {
    font-family: 'Yomogi', cursive;
    color: #e10286;
}
[macro='toc'] > li {
    font-size: 1.5rem;
    text-align: left;
}
[macro='toc'] > li a {
    text-decoration: none;
}
[macro='toc'] > li[for='h1'] {margin-left: 0;}
[macro='toc'] > li[for='h2'] {margin-left: 20px;}
[macro='toc'] > li[for='h3'] {margin-left: 40px;}
[macro='toc'] > li[for='h4'] {margin-left: 60px;}
[macro='toc'] > li[for='h5'] {margin-left: 80px;}
[macro='toc'] > li[for='h6'] {margin-left: 100px;}


@media (max-width: 900px) {
    [macro='toc'] > li[for='h1'] {margin-left: 0;}
    [macro='toc'] > li[for='h2'] {margin-left: 10px;}
    [macro='toc'] > li[for='h3'] {margin-left: 15px;}
    [macro='toc'] > li[for='h4'] {margin-left: 20px;}
    [macro='toc'] > li[for='h5'] {margin-left: 25px;}
    [macro='toc'] > li[for='h6'] {margin-left: 30px;}

}

@mixin dark-mode-nav {
    [macro=toc] > li, [macro=toc] > li a {
        color: #dba4f9;
    }
}


@if settings.$dark-theme {
    @include dark-mode-nav;
}

@if settings.$auto-theme {
    @media (prefers-color-scheme: dark) {
        @include dark-mode-nav;
    }
}