h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    // border-bottom: 1px solid #444;
    // align-self: start;
    text-align: left;
    text-rendering: optimizeLegibility;
    hyphens: auto;
}

h1 {
    // font-size: 2.3em;
    font-size: 3.5em;
    font-weight: 700;
    color: #303233;
}
h2 {
    // font-size: 2em;
    font-size: 3em;
    font-weight: 700;
    color: #303233;
}
h3 {
    // font-size: 1.6em;
    font-size: 2.5em;
    color: #32403f;
    font-weight: 400;
}
h4 {
    // font-size: 1.2em;
    font-size: 2em;
    color: #32403f;
    font-weight: 100;
}
h5 {
    // font-size: 1em;
    font-size: 1.8em;
    color: #32403f;
    font-weight: 100;
}
h6 {
    // font-size: 0.9em;
    font-size: 1.4em;
    color: #32403f;
    font-weight: 100;
}

@media (max-width: 900px) {
    h1, h2, h3, h4, h5, h6 {
        max-width: unset;
    }
    h1 {
        font-size: 2.5em;
        // font-size: 1.8em;
    }
    h2 {
        font-size: 2em;
        // font-size: 1.5em;
    }
    h3 {
        font-size: 1.6em;
        // font-size: 1em;
    }
    h4 {
        font-size: 1.2em;
        // font-size: 0.8em;
    }
    h5 {
        font-size: 1.0em;
        // font-size: 0.7em;
    }
    h6 {
        font-size: 0.8em;
        // font-size: 0.6em;
    }
}

dl, ul, ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
    hyphens: auto;
}

pre {
    font-family: 'Source Code Pro', monospace;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0;
    padding: 12px 20px;
}

p[center] {
    text-align: center;
}

p[justify] {
    text-align: justify;
}

li, dt, dd, th, td {
    font-family: 'Source Code Pro', monospace;
    text-rendering: optimizeLegibility;
    text-align: justify;
    hyphens: auto;
    padding: 0 10px;
}

li p, dt p, dd p, th p, td p {
    margin: 0;
    padding: 0;
}

li > *, li > p {
    margin-bottom: 4px;
}

li > *:last-child, li > p:last-child {
    margin-bottom: 0;
}

li, dd {
    margin-bottom: 4px;
}

li:last-child,
dd:last-child {
    margin-bottom: 0;
}

@media (min-width: 800px) {
    p[justify] {
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    p {
        margin: 0;
        padding: 10px 8px;
    }
}

@mixin dark-mode-typography {
    h1, h2, h3, h4, h5, h6, p, dl, dd, dt, ul, ol, th, td {
        color: #dec3c3;
    }
}

@if settings.$dark-theme {
    @include dark-mode-typography;
}

@if settings.$auto-theme {
    @media (prefers-color-scheme: dark) {    
        @include dark-mode-typography;
    }
}